extends layout

block content
  section.header
    img.logo(src='/img/logo+text.png')

  section.main
    img.character(src='img/character-contact.png')
    .title
      h1 Here are my emergency contacts…
