extends layout

block content
  section.header
    img.logo(src='/img/logo+text.png')

  section.main
    img.character(src='img/character-contact.png')
    .title
      h1 We need some information from you:
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='phone') YOUR NUMBER:
        .col-sm-8
          input.form-control(type='text', name='phone', id='phone', autofocus=true)
      .form-group
        label(class='col-sm-2 control-label', for='contactName') EMERGENCY CONTACT NAME:
        .col-sm-8
          input.form-control(type='text', name='contactName', id='contactName')
      .form-group
        label(class='col-sm-2 control-label', for='contactPhone') EMERGENCY CONTACT PHONE:
        .col-sm-8
          input.form-control(type='text', name='contactPhone', id='contactPhone')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn-round(type='submit')
            | NEXT
