extends layout

block content
  section.header
    img.logo(src='/img/logo+text.png')

  section.main
    img.character(src='img/character-contact.png')
    .title
      h1 Here are my emergency contacts…
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='name') Emergency Contact 1
        .col-sm-8
          input.form-control(type='text', name='name', id='name', cols='20')
      .form-group
        label(class='col-sm-2 control-label', for='name') Emergency Contact 2
        .col-sm-8
          input.form-control(type='text', name='name', id='name')
      .form-group
        label(class='col-sm-2 control-label', for='name') Emergency Contact 3
        .col-sm-8
          input.form-control(type='text', name='name', id='name')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send
