extends layout

block content
  section.header
    img.logo(src='/img/logo+text.png')

  section.main
    img.character(src='img/character-contact.png')
    .title
      h1 We need some information from you:
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='phone') YOUR NUMBER:
        .col-sm-8
          input.form-control(type='text', name='phone', id='phone', autofocus=true)
      .form-group
        label(class='col-sm-2 control-label', for='emergency1') EMERGENCY CONTACT PHONE 1:
        .col-sm-8
          input.form-control(type='text', name='emergency1', id='emergency1')
      .form-group
        label(class='col-sm-2 control-label', for='emergency2') EMERGENCY CONTACT PHONE 2:
        .col-sm-8
          input.form-control(type='text', name='emergency2', id='emergency2')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn-round(type='submit')
            | NEXT
