extends layout

block content
  section.splash
    img.logo(src='/img/logo+text(lower).png')
    .dash
    .subtitle
      h2
        span A College
        em  Party
        span  Safety Kit
    .cta
      a(href='auth/facebook')
        button.signin Sign In With Facebook
  section.bad.news
    h3.title Bad News:
    .stat
      h1.percent.left 23%
      .right
        p Female college students said they experienced some form of unwanted sexual contact.
        p
          em 32%
          span  at Yale and
          em  29%
          span  at Harvard.
      aside Association of American Universities (AAU), 2015
  section.good.news
    .left.img
    aside.right
      h3.title Good News:
      p HARBOR does its best to protect college students before parties, during parties, &amp; after parties.
  section.intro
    img.section-img(src='/img/Section3.png')
  section.better.news
    .left.img
    aside.right
      h3.title Better News:
      img.star(src='/img/icon2.png')
      p Equipped with HARBOR, now you are ready to go.
  section.ready-to
    h2.title Ready to?
    h3.title Create your Harbor
    span.email-box
      input(type='email' placeholder='Your Email')
      input(type='button' value='submit')
