extends layout

block content
  section.header
    img.logo(src='/img/logo+text.png')

  section.main
    img.character(src='img/character-party-yes.png')
    .title.tall
      h1 Yes, I'm going to a party tonight.
