$red: rgb(238, 86, 111);
$blue: rgb(31, 46, 121);
$gray: rgb(216, 216, 216);
$content-width: 900px;

@mixin small-title() {
  text-transform: uppercase;
  color: $red;
  font-size: 18px;
  font-weight: 800;
}

section.header {
  background: white;
  text-align: center;
  padding-top: 20px;
  padding-left:auto;
  padding-right:auto;
  height:15%;

  .logo {
    width:20%;
  }
}

section.main{
  min-width: 1024px;
  min-height: 820px;
  text-align: center;
  background: $red;

  .character {
    padding-top:10px;
    width:35%;
    margin-left: auto;
    margin-right: auto;
    width:35%;
  }

  .character-large {
    padding-top:100px;
    margin-left: auto;
    margin-right: auto;
    width:35%;
  }

  .title {
    padding-top:40px;
    text-weight:700;
    color: white;
  }

  .title.tall {
    padding-top:140px;
  }

  .buttonGroup {
    width: 50%;
    margin-left:25%;
    margin-rigth:25%;
    padding-top:5%;
  }

  .buttonGroup button {
    font-family: Lato;
    background-color: rgba(0,0,0,0);
    color: white; 
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #fff;
    min-height: 50px;
    font-size: 20px;
    padding:10px 30px 10px 30px;
  }
  .buttonGroup button:hover {
    font-family: Lato;
    background-color: white;
    color: $red; 
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #fff;
    min-height: 50px;
    font-size: 20px;
    padding:10px 30px 10px 30px;
  }
  .buttonGroup button.yes {
    margin-left: 10%;
  }
  form {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:30px;
    padding: 20px;
  }
  .form-group {
    padding-top: 3%;
    padding-right:10%;
    padding-left:10%;
    padding-bottom:3%;
  }
  label {
    color: white;
    float: left;
  }
  input.form-control {
    float: right;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    text-size: 20px;
    text-family: Lato;
  }
  button.btn-round {
    font-family: Lato;
    background-color: white;
    color: $red; 
    border-radius: 100px;
    border: 2px solid #fff;
    height: 80px;
    width: 80px;
    font-size: 20px;
    padding:10px;
  }
  button.btn-round:hover {
    background-color: $red;
    color: white; 
    -webkit-transition: 0.5s; 
  }
}
section.splash {
  border-top: 20px solid $red;
  background: linear-gradient(rgb(9, 60, 120), rgb(211, 222, 233));
  text-align: center;
  padding-top: 120px;
  padding-left:20px;
  color: $blue;
  min-height:700px;

  .logo {
    width: 50%;
  }

  .dash {
    width: 12%;
    height: 10px;
    background: $red;
    margin: 20px auto;
    border-radius: 5px;
  }

  .subtitle {
    font-size: 26px;
    font-style: italic;
    letter-spacing: 2px;
    padding: 20px 0;
  }

  em {
    color: $red;
  }

  button {
    font-family: Lato;
    background-color: $blue;
    color: white; 
    border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    min-height: 50px;
    font-size: 20px;
    padding:10px 30px 10px 30px;
  }

  .cta {
    padding-top:80px;
  }
}

section.bad.news {
  padding-top:15%;
  padding-bottom:15%;
  padding: 30px;
  background: $blue;

  .title {
    @include small-title()
    padding: 30px;
    text-align: center;
  }

  .stat {
    padding: 20px;
    width: $content-width;
    margin: 0 auto;

    .left, .right {
      display: inline-block;
    }

    .percent {
      font-weight: 400;
      font-size: 140px;
      color: $red;
      width: 40%;
      text-align: center;
    }

    .right {
      padding-left: 20px;
      color: white;
      font-weight: 300;
      width: 60%;

      p {
        margin: 5px 0;
        font-size: 20px;
        line-height: 200%
      }

      em {
        font-weight: 100;
        color: $red;
      }
    }

    aside {
      padding-top: 30px;
      color: white;
      font-size: 14px;
      font-weight: 100;
      text-align: right;
      font-style: italic;
    }
  }
}

section.good.news, section.better.news {
  height: 450px;
  overflow: hidden;

  .left, .right {
    display: inline-block;
    vertical-align: top;
  }
  .left {
    background-size: cover;
    width: 60%;
    height: 100%;
  }
  .right {
    width: 40%;
    height: 100%;
    background-color: $gray;
    text-align: center;
    padding: 60px;

    .title {
      @include small-title()
      padding: 50px 0;
    }

    p {
      color: $blue;
      font-weight: 800;
    }
  }
}

section.good.news {
  .left {
    background-image: url('/img/image1.png');
  }
}
section.better.news {
  .right {
    .title {
      padding-top: 20px;
    }
  }
  .left {
    background-image: url('/img/image2.png');
  }
  .star {
    width: 70%;
  }
}

section.intro {
  text-align: center;
  padding: 30px 0;

  img.section-img {
    width: $content-width + 100px;
  }
}

section.ready-to {
  background-color: $blue;
  text-align: center;
  padding: 30px;

  h2.title {
    @include small-title()
    padding: 30px;
  }
  h3.title {
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    font-size: 30px;
    padding-bottom: 50px;
  }

  .email-box {
    padding: 5px 5px 8px 5px;
    background: $red;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;

    input[type='email'] {
      border: 0;
      padding: 5px;
      font-size: 30px;
    }

    input[type='button'] {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
    }
  }
}